<div class="modal-header">
    <h3 class="modal-title">Como encontrar o ID do usuário</h3>
</div>
<div class="modal-body">

    <div>
        <p>Clique no perfil do comprador que deseja bloquear, copie o ID na barra de endereço:</p>
        <img src="images/id-comprador.png" alt="Perfil do comprador" class="img img-responsive">
    </div>
    <hr>
    <div>
        <p>Para bloquear o comprador, é só colar o ID e adicionar o usuário no MLTools:</p>
        <img src="images/adicionar-usuario.png" alt="Adicionar ID do usuário no formulário" class="img img-responsive">
    </div>
    <hr>
    <div>
        <p>Caso estiver visualizando o perfil do usuário como Vendedor, clique em <span class="text-warning">ver perfil como comprador</span> e encontrará o ID do usuário:</p>
        <img src="images/perfil-comprador.png" alt="Visualizar perfil como vendedor" class="img img-responsive">
    </div>

</div>
