<div class="page page-emails">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="fa fa-envelope-o"></span> E-mails Automáticos</strong></div>
        <div class="panel-body">
            <div class="btnEmails">
                <button type="button" class="btn btn-primary btn-w-lg glyphicon-plus"><a href="#/adicionar-email"> Adicionar Nova Regra</a></button></p>
            </div>
            <table class="responsive table table-striped">
                <thead>
                    <tr>
                        <th>Assunto do e-mail</th>
                        <th>Condições</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="email in emails">
                        <th>
                            <p>{{ email.title }}</p>
                        </th>
                        <td>
                            <div class="thumbnail">
                            	<div class="caption">
                            	    <p><span class="glyphicon glyphicon-credit-card"></span> {{ isPaid }}</p>
                                    <p><span class="fa fa-truck"></span> {{ isDelivered }}</p>
                                </div>  
	                        </div>
	                    </td>
                        <td>
                            <p>
                        	    <ui-email></ui-email>
							</p>
                        	<p>
                        	    <a href="javascript:;" class="btn-icon btn-icon-sm btn-warning"><i class="glyphicon glyphicon-cog"></i></a>
                        	    <a href="javascript:;" class="btn-icon btn-icon-sm btn-danger" data-ng-click="remove(email, $index)"><i class="glyphicon glyphicon-trash"></i></a>
                        	</p>
                        </td>
                    </tr>
                </tbody>
            </table>      
        </div>
    </section> 

</div>