<div class="page page-clientes">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-user"></span>  Clientes</strong></div>
        <div class="panel-body">
            <div class="btnClientes">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span><a href="#/adicionar-cliente"> Adicionar Cliente</a></button>
                <button class="btn btn-danger" data-ng-click="remove()" ng-show="isClienteSelected(clientes)"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
                <button class="btn btn-warning" data-ng-click="edit(cliente)" ng-show="isClienteSelected(clientes)"><span class="glyphicon glyphicon-edit"></span> Editar</button>
            </div>
            <div class="table-filters">
	            <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Busca"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
	            <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Mostrando {{filteredRows.length}}/{{clientes.length}} resultados
                    </span>
                </div>
            </div>
        	<table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th ng-hide="!currentPageRows.length"></th>
                    <th><div class="th">
                        Cliente
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('buyer.first_name') "
                              data-ng-class="{active: row == 'buyer.first_name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-buyer.first_name') "
                              data-ng-class="{active: row == '-buyer.first_name'}"></span>
                    </div></th>
                    <th><div class="th">
                        CPF/ CNPJ
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('buyer.billing_info.doc_number') "
                              data-ng-class="{active: row == 'buyer.billing_info.doc_number'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-buyer.billing_info.doc_number') "
                              data-ng-class="{active: row == '-buyer.billing_info.doc_number'}"></span>
                    </div></th>
                    <th><div class="th">
                        E-mail
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('buyer.email') "
                              data-ng-class="{active: row == 'buyer.email'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-buyer.email') "
                              data-ng-class="{active: row == '-buyer.email'}"></span>
                    </div></th>
                    <th><div class="th">
                        Criado em
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('sales') "
                              data-ng-class="{active: row == 'sales'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-sales') "
                              data-ng-class="{active: row == '-sales'}"></span>
                    </div></th>
                    <th><div class="th">
                        Telefone
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('buyer.phone.area_code') "
                              data-ng-class="{active: row == 'buyer.phone.area_code'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-buyer.phone.area_code') "
                              data-ng-class="{active: row == '-buyer.phone.area_code'}"></span>
                    </div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="cliente in currentPageRows">
                    <td ng-hide="!currentPageRows.length"><label class="ui-checkbox"><input name="checkbox1" type="checkbox" data-ng-model="cliente.selected"><span></span></label></td>
                    <td>{{ cliente.buyer.first_name + " " + cliente.buyer.last_name }}</td>
                    <td>{{ cliente.buyer.billing_info.doc_number }}</td>
                    <td>{{ cliente.buyer.email }}</td>
                    <td></td>
                    <td>{{ cliente.buyer.phone.area_code + " " + cliente.buyer.phone.number }}</td>
                </tr>
                <tr ng-if="!currentPageRows.length"><td colspan="6">Nenhum cliente encontrado</td></tr>
            </tbody>
        </table>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
					<form action="javascript:return;" class="form-inline">
						<div class="form-group">Mostrar</div>
						<div class="form-group">
							<select class="form-control"
								data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
	                        </select>
						</div>
						<div class="form-group">
							resultados por página
						</div>
					</form>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredRows.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                first-text="Primeira Página"
                                last-text="Última Página"
								previous-text="Anterior"
                                next-text="Próxima"
                                boundary-links="true">
                    </pagination>
                </div>
            </div>
        </footer>
        </div>
        </div>
    </section> 

</div>