<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-translate="Visão geral"></span> </a></li>
        <!-- <li>
            <a href="#/produtos"><i class="fa fa-tags"></i><span data-translate="Produtos"></span></a>
        </li> -->
        <!-- <li>
            <a href="#/movimentacoes-estoque"><i class="fa fa-barcode"></i><span data-translate="Movimentação de Estoque"></span></a>
        </li> -->
        <!-- <li>
            <a href="#/perguntas"><i class="fa fa-question"></i><span data-translate="Perguntas"></span></a>
            <ul>
                <li><a href="#/perguntas"><i class="fa fa-caret-right"></i><span data-translate="Responder perguntas"></span></a></li>
                <li><a href="#/perguntas/assinaturas"><i class="fa fa-caret-right"></i><span data-translate="Configurar assinaturas"></span></a></li>
                <li><a href="#/perguntas/etiquetas"><i class="fa fa-caret-right"></i><span data-translate="Configurar etiquetas"></span></a></li>
            </ul>
        </li> -->
        <!-- <li>
            <a href="#/vendas"><i class="fa fa-shopping-cart"></i><span data-translate="Vendas"></span></a>
            <ul>
                <li><a href="#/vendas/adicionar"><i class="fa fa-caret-right"></i><span data-translate="Cadastrar venda manual"></a></li>
                <li><a href="#/vendas/notas-fiscais"><i class="fa fa-caret-right"></i><span data-translate="Emitir NF-e"></span></a></li>
            </ul>
        </li> -->
        <li>
            <a href="#/bloqueio-usuarios"><i class="fa fa-user-times"></i><span data-translate="Bloqueio de Usuários"></span></a>
        </li>
        <li>
            <a href="#/anuncios"><i class="fa fa-shopping-basket"></i><span data-translate="Anúncios"></span></a>
        </li>
        <!-- <li>
            <a href="#/qualificacoes"><i class="fa fa-flash"></i><span data-translate="Qualificação Automática"></span></a>
        </li> -->
        <!-- <li>
            <a href="#/emails"><i class="fa fa-envelope"></i><span data-translate="E-mails Automáticos"></span></a>
        </li> -->
        <!-- <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-translate="Relatórios"></span></a>
            <ul>
                <li><a href="#/charts/flot"><i class="fa fa-caret-right"></i>Flot <span data-translate="Charts"></span></a></li>
                <li><a href="#/charts/morris"><i class="fa fa-caret-right"></i>Morris <span data-translate="Charts"></span></a></li>
                <li><a href="#/charts/charts"><i class="fa fa-caret-right"></i>Other <span data-translate="Charts"></span></a></li>
            </ul>
        </li> -->
        <li class="nav-task">
            <a href="#/tarefas">
                <i class="glyphicon glyphicon-tasks"></i><span data-translate="Tarefas"></span>
                <span class="badge badge-danger main-badge" data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
            </a>
        </li>
        <!-- <li>
            <a href="#/ui/pricing-tables"><i class="fa fa-certificate"></i><span data-translate="Planos"></span></a>
        </li> -->
        <!-- <li>
            <a href="#/ajuda">
                <i class="fa fa-warning"></i><span data-translate="Ajuda"></span></a>
        </li> -->
    </ul>
</div>
